In [1]:
##Introduction To slicing of lists..

In [2]:
students = ['udhaya','kumar','sathish','thiru','faiyaz']

In [3]:
print(students)

['udhaya', 'kumar', 'sathish', 'thiru', 'faiyaz']

In [4]:
type(students)

list

In [5]:
##Requirement: General slicing 2 person in a single

In [7]:
##General Syntax of slicing
##var[startvalue:stopvalue:stepcount]

In [9]:
print(students[0:1])  ## The 1 mentioned in a element of "kumar" but last value always excluded

['udhaya']

In [10]:
print(students[0:2])

['udhaya', 'kumar']

In [11]:
print(students[0:5])

['udhaya', 'kumar', 'sathish', 'thiru', 'faiyaz']

In [12]:
##Requirement: To consider every alternative name in the list

In [13]:
print(students[0:5:1])

['udhaya', 'kumar', 'sathish', 'thiru', 'faiyaz']

In [14]:
print(students[0:4:1])

['udhaya', 'kumar', 'sathish', 'thiru']

In [16]:
students.append('kiran')
print(students)

['udhaya', 'kumar', 'sathish', 'thiru', 'faiyaz', 'kiran']

In [17]:
print(students[0:4:1])

['udhaya', 'kumar', 'sathish', 'thiru']

In [18]:
##Negative Indexing

In [19]:
print(students)

['udhaya', 'kumar', 'sathish', 'thiru', 'faiyaz', 'kiran']

In [20]:
print(students[2])

sathish

In [21]:
print(students[-1])

kiran

In [22]:
print(students[-3])

thiru

In [23]:
##Requirement for print the elements in reverse order

In [24]:
print(students[::-1])

['kiran', 'faiyaz', 'thiru', 'sathish', 'kumar', 'udhaya']

In [25]:
print(students[::-3])

['kiran', 'sathish']

In [26]:
print(students[::-2])

['kiran', 'thiru', 'kumar']

In [28]:
##Introduction to range function
#General sysntax of a range

In [29]:
##var[start,stop,stepcount]

In [30]:
##Requirement to print the no from 1 to 30

In [31]:
numbers = list(range(1,30))

In [32]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [33]:
##Requirement: I want to print only even no's from 1 to 30

In [34]:
even-no = list(range(1.30))

SyntaxError: cannot assign to operator (<ipython-input-34-b118606759de>, line 1)

In [35]:
even_numbers = list(range(1,30))

In [36]:
print(even_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [37]:
even_numbers = list(range(1,31))

In [38]:
print(even_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [39]:
odd_numbers = list(range(1,29,1))

In [40]:
print(students)

['udhaya', 'kumar', 'sathish', 'thiru', 'faiyaz', 'kiran']

In [41]:
print(odd_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]

In [42]:
odd_numbers = list(range(1,29,2))

In [43]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]